@use "./settings-variables";

// @font-face {
//   font-family: Pitagon;
//   src: url("fonts/pitagon/PitagonSansText-SemiBold.woff2") format("woff2"),
//     url("fonts/pitagon/PitagonSansText-SemiBold.ttf") format("truetype"),
//     url("fonts/pitagon/PitagonSansText-SemiBold.otf") format("opentype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: Pitagon;
//   src: url("fonts/pitagon/PitagonSansText-SemiBoldItalic.woff2") format("woff2"),
//     url("fonts/pitagon/PitagonSansText-SemiBoldItalic.ttf") format("truetype"),
//     url("fonts/pitagon/PitagonSansText-SemiBoldItalic.otf") format("opentype");
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// }
