@use "./settings-variables";

/* –––––––––––––––––––––––––––––– GENERAL –––––––––––––––––––––––––––––– */
html,
body {
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--color-surface-default);
}

img {
  /* width: 100%; */
  max-width: 100%;
}

a {
  background-color: yellow;
}

/* –––––––––––––––––––––––––––––– TABLET –––––––––––––––––––––––––––––– */
@media only screen and (min-width: settings-variables.$breakpoint-tablet) {
}

/* –––––––––––––––––––––––––––––– DESKTOP –––––––––––––––––––––––––––––– */
@media only screen and (min-width: settings-variables.$breakpoint-desktop) {
}

/* –––––––––––––––––––––––––––––– DESKTOP L –––––––––––––––––––––––––––––– */
@media only screen and (min-width: settings-variables.$breakpoint-desktop-l) {
}
